body, ol, ul, a, div, img, h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

body {
  font: 16px "Arial", "Helvetica", sans-serif;
  background-color: #fff;
  overflow: scroll;
}

ol, ul {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.container {
  width: 940px;
  margin: 0 auto;
}

header {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 20px 0;
}

.logo {
  float: left;
}

.nav {
  float: right;
  padding-top: 5px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.nav li {
  float: left;
  margin-right: 40px;
}

.nav li:last-child {
  margin-right: 0;
}

.nav a {
  text-transform: uppercase;
  color: white;
}

.nav a:hover {
  color: #fed136;
}

.home {
  height: 500px;
  background: #222 url("../img/home-bg.jpg") no-repeat center bottom;
  background-size: cover;
  padding-top: 250px;
  text-align: center;
  color: #fff;
}

.home h3 {
  font: 40px/40px "Arial", sans-serif;
  margin-bottom: 40px;
}

.home h1 {
  font: 75px/75px "Arial", sans-serif;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.btn {
  display: inline-block;
  background-color: #fed136;
  padding: 20px 30px;
  font: bold 24px "Arial", sans-serif;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btn a {
  color: #fff;
}

.btn:hover {
  background-color: #e6b916;
}

.box {
  padding: 120px 0px;
}

.services {
  background-color: #fff;
  text-align: center;
}

h2.title {
  font: bold 40px/40px "Arial", sans-serif;
  color: #222;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.descr {
  font: 16px/16px "Times New Roman", serif;
  color: #777;
}

h5.title {
  font: bold 18px/18px "Arial", sans-serif;
  color: #222;
  margin-bottom: 10px;
}

.services-wrap,
.portfolio-wrap,
.about-wrap,
.feedback {
  margin-top: 70px;
}

.services-item {
  float: left;
  width: 33%;
  box-sizing: border-box;
  padding: 98px 10px 0px;
}

.services-item p {
  font: 18px/26px "Times New Roman", serif;
  color: #777;
}

.commerce {
  background: url("../img/services-basket.png") no-repeat center top;
}

.responsive {
  background: url("../img/services-laptop.png") no-repeat center top;
}

.security {
  background: url("../img/services-locked.png") no-repeat center top;
}

.portfolio {
  background-color: #f7f7f7;
  text-align: center;
}

.portfolio-item {
  width: 31%;
  float: left;
  margin-right: 3.5%;
  margin-bottom: 50px;
  background-color: #fff;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(1),
.portfolio-item:nth-last-child(2),
.portfolio-item:nth-last-child(3) {
  margin-bottom: 0;
}

.p-item-footer {
  padding: 25px 20px;
}

.p-item-footer .title {
  margin-bottom: 4px;
}

.about {
  text-align: center;
}

.about-text {
  width: 35%;
}

.about-text h5 {
  line-height: 24px;
}

.about-text p {
  line-height: 24px;
  color: #777;
}

.about-img {
  width: 30%;
  margin: 0;
  padding: 0;
}

.about-img::after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 94px;
  width: 3px;
  background-color: #f1f1f1;
  padding: 0;
}

.about-img img, .about-continue {
  display: inline-block;
  width: 170px;
  height: 170px;
  border: 7px solid #f1f1f1;
  border-radius: 50%;
}

.about-continue {
  padding-top: 30px;
  font: bold 18px/30px "Arial", "Helvetica", sans-serif;
  color: #fff;
  background: #fed136;
  text-transform: uppercase;
  text-shadow: 0px 1px rgba(0,0,0,0.3);
  box-sizing: border-box;
}

.team {
  background-color: #f7f7f7;
  text-align: center;
}

.team-wrap {
  margin-top: 70px;
  margin-bottom: 50px;
}
.team-item {
  box-sizing: border-box;
  width: 33.33%;
  padding: 0 10px;
}

.team-item img {
  border: 7px solid #fff;
  border-radius: 50% 20%;
  margin-bottom: 15px;
}

.team-item-cat {
  color: #777;
  font: 14px/14px "Arial", sans-serif;
}

.social {
  margin-top: 10px;
}

.social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 3px solid #222;
  border-radius: 50%;
  margin: 0px 3px;
  background: url("../img/social-sprite.png") no-repeat;
}

.social a:first-child {
  margin-left: 0;
}

.social a:last-child {
  margin-right: 0;
}

.social a.ic-tw {
  background-position: 0 0;
}
.social a.ic-fb {
  background-position: -40px 0;
}
.social a.ic-pn {
  background-position: -80px 0;
}

.social a.ic-gp {
  background-position: -120px 0;
}

.social a.ic-tw:hover {
  border-color: transparent;
  background-color: #00aced;
  background-position: 0 -40px;
}
.social a.ic-fb:hover {
  border-color: transparent;
  background-color: #3b5998;
  background-position: -40px -40px;
}
.social a.ic-pn:hover {
  border-color: transparent;
  background-color: #cb2028;
  background-position: -80px -40px;
}

.social a.ic-gp:hover {
  border-color: transparent;
  background-color: #d95232;
  background-position: -120px -40px;
}

.social a.black {
  background-color: #222;
}
.social a.ic-tw.black {
  background-position: 0 -40px;
}

.social a.ic-fb.black {
  background-position: -40px -40px;
}

.social a.ic-pn.black {
  background-position: -80px -40px;
}

.social a.ic-gp.black {
  background-position: -120px -40px;
}

.team-info {
  font: 16px/25px "Times New Roman", serif;
  color: #777;
  margin-top: 50px;
}

.brand {
  padding: 60px 0;
  text-align: center;
}

.brand a {
  margin-right: 40px;
}
.brand a:last-child {
  display: inline-block;
  margin-right: 0;
}

.brand img {
  vertical-align: middle;
}

.contact {
  text-align: center;
  background: #222 url("../img/map-bg.png") no-repeat;
  background-position: right top;
}

.contact .title {
  color: #fff;
}

.feedback .right,
.feedback .left {
  box-sizing: border-box;
  width: 48%;
}

.feedback input[type="text"],
.feedback textarea {
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px;
  width: 100%;
  box-shadow: none;
  margin-bottom: 30px;
  padding: 15px 20px;
  font: bold 14px/14px "Arial", sans-serif;
  color: #222;

}

.feedback input[type="text"] {
  border: solid 1px #ccc;
  height: 50px;
}

.feedback textarea {
  border: none;
  height: 210px;
  resize: none;
}


::-webkit-input-placeholder {
  font: bold 14px/14px "Arial", sans-serif;
  color: #bbb;
  text-transform: uppercase;
}

::-moz-placeholder {
  font: bold 14px/14px "Arial", sans-serif;
  color: #bbb;
  text-transform: uppercase;
}

.copyright {
  padding: 25px 0;
}

.copyright .social {
  padding: 0;
  margin-left: 365px;
}

.copyright p {
  font: bold 14px/14px "Arial", sans-serif;
  color: #555;
  margin-top: 15px;
}












